<template>
	<v-container>
		<ValidationObserver 
			ref="obs" 
			v-slot="{ 
				invalid, 
				validated, 
				passes, 
				validate 
			}"
		>
			<v-card class="elevation-12">
				<v-toolbar dark color="primary">
					<v-toolbar-title>
						VeeValidate Providers
					</v-toolbar-title>
				</v-toolbar>
				<v-card-text>
					<v-form @submit.prevent="passes(submit)">
						<ValidationProvider 
							name="name" 
							rules="required" 
							v-slot="{ errors, valid }"
						>
							<v-text-field
								v-model="name"
								:counter="10"
								:error-messages="errors"
								:success="valid"
								label="Name"
								required
							></v-text-field>
						</ValidationProvider>
						<ValidationProvider 
							name="email" 
							rules="required|email"  
							v-slot="{ errors, valid }"
						>
							<v-text-field
								v-model="email"
								:error-messages="errors"
								:success="valid"
								label="E-mail"
								required
							></v-text-field>
						</ValidationProvider>

						<ValidationProvider 
							name="select" 
							rules="required" 
							v-slot="{ errors, valid }"
						>
							<v-select
								:items="items"
								v-model="select"
								:error-messages="errors"
								:success="valid"
								label="Select"
								required
							></v-select>
						</ValidationProvider>

						<ValidationProvider 
							rules="required" 
							name="checkbox" 
							v-slot="{ errors, valid }"
						>
							<v-checkbox
								v-model="checkbox"
								:error-messages="errors"
								:success="valid"
								value="1"
								label="Option"
								type="checkbox"
								required
							></v-checkbox>
						</ValidationProvider>
					</v-form>
				</v-card-text>
				<v-card-actions>
					<v-btn @click="clear">
						Clear
					</v-btn>
					<v-spacer></v-spacer>
					<v-btn @click="validate()">
						Validate
					</v-btn>
					<v-btn 
						color="primary" 
						@click="passes(submit)" 
						:disabled="invalid || !validated"
					>
						Sign Up
					</v-btn>
				</v-card-actions>
			</v-card>
		</ValidationObserver>
	</v-container>
</template>

<script>
import {
	ValidationObserver,
	ValidationProvider
} from "vee-validate";

export default {
	components: {
		ValidationProvider,
		ValidationObserver
	},
	data: () => ({
		items: ["", "Foo", "Bar"],
		name: "",
		email: "",
		select: "",
		checkbox: ""
	}),
	methods: {
		async clear() {
			this.someError();
			// try {
			// 	// Runs code that may or may not work.
			// 	window.possiblyUndefinedFunction();
			// 	} catch(error) {
			// 	const exception = error.message || error
			// 	this.$ga.exception(exception)
			// }
			this.name = this.email = this.select = this.checkbox = "";

			requestAnimationFrame(() => {
				this.$refs.obs.reset();
			});
		},
		submit() {
			console.log('submitting!')
		}
	}
};
</script>
