<template>
  <div class="home">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/templates/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  },
  methods: {
    mounted() {
      this.$ga.page({
        page: '/',
        title: 'Home page',
        location: window.location.href
      });
    }
  },
}
</script>
