<template>
	<v-app>
		<Drawer />
		<v-content>
			<router-view />
		</v-content>
		<v-footer app>
			<span>&copy; 2019</span>
		</v-footer>
	</v-app>
</template>

<script>
import Drawer from './components/ui/navigation_drawer';

export default {
	name: 'App',
	components: {
		Drawer,
	},
	data: () => ({
	//
	}),
};
</script>
