<template>
    <v-navigation-drawer
        fixed
        height="100%"
        app
        :mini-variant="mini"
        v-model="drawer" 
        stateless
        class="custom-navigation-drawer d-none d-sm-block" 
    >
        <v-list-item>
            <v-list-item-avatar>
                <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
            </v-list-item-avatar>

            <v-list-item-title>
                John Leider
            </v-list-item-title>

            <v-btn icon>
                <v-icon>
                    mdi-chevron-left
                </v-icon>
            </v-btn>
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense>
            <v-list-item
                v-for="item in items"
                :key="item.title"
                link
            >
                <v-list-item-icon>
                    <v-icon>
                        {{ item.icon }}
                    </v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>
                        {{ item.title }}
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>
<script>
  export default {
    name: 'navigation-drawer',
    components: {
        
    },
    data: () => ({
        drawer: true,
        clipped: false,
        item: 0,
        items: [
            { title: 'My Applications', icon: 'mdi-view-dashboard', href: '/'},
            { title: 'My Info', icon: 'mdi-alert-circle-outline', href: '/myinfo'},
            { title: 'My Settings', icon: 'mdi-settings', href: '/mysettings'},
        ],
    }),
    mounted () {
      console.log(this.$vuetify.breakpoint)
    },
    computed: {
        mini() {
            return this.$vuetify.breakpoint.mdAndDown;
        }
    }
  }
</script>